/* TODO: Smile. You are enough. */
:root {
    --charcoal: #37515f;
    --lightCornflower: #8ecae6;
    --blueGreen: #219ebc;
    --prussianBlue: #023047;
    --selectiveYellow: #ffb703;
    --Tangerine: #fb8500;
}

body {
    padding: 4.5rem 0;
    background-color: var(--blueGreen);
}

#pageHeader {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: .5rem;
    background-color: var(--prussianBlue);
    font-size: 3rem;
    color: var(--Tangerine);
}

#weatherIcon {
    height: 3rem;
}

#pageMain {
    display: flex;
    justify-content: space-evenly;
    padding-top: 3rem;
}

#searchAside {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 25%;
}

#searchForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#citySearch {
    display: block;
}

#searchHistory {
    display: flex;
    flex-direction: column;
}

.cityBtns {

    width: 60%;
}

.myBtns {
    margin: .3rem auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    background-color: var(--charcoal);
    color: #fff;
}

.myBtns:active {
    transform: translate(2px, 2px);
}

#weather {
    display: flex;
    flex-direction: column;
    width: 66%;
    color: var(--lightCornflower);
}

#current {
    margin: 1rem .3rem;
    height: 50%;
    border-radius: .5rem;
    padding: .5rem .3rem;
    background-color: var(--prussianBlue);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.green {
    background-color: #289500;
}

.yellow {
    background-color: #f7e400;
}

.orange {
    background-color: #f8600d;
}

.red {
    background-color: #d80010;
}

.purple {
    background-color: #6b49c8;
}

#fiveDay {
    display: flex;
    margin: 3rem 0;
}

.future {
    margin: 1rem .3rem;
    border-radius: .5rem;
    width: 19%;
    padding: .5rem .3rem;
    background-color: var(--prussianBlue);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#pageFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem;
    background-color: var(--selectiveYellow);
    text-align: center;
}